<div class="recording-controls">
    <button class="record-btn" (click)="toggleRecording()" [disabled]="processing">

        <span [ngClass]="{
            'icon-mic': !recording,
            'icon-mute': recording
            }">
        </span>

    </button>
    <button class="bookmark-btn" (click)="addBookmark()" *ngIf="recording && !bookmarking">

        <span class="icon-plus"></span>

    </button>

    <div class="record-time">
        <span>{{time}}</span>
    </div>

    <wu-add-bookmark *ngIf="isAvailableAddBookmark()" [bookmark]="currentBookmark" (bookmarkNotify)="onBookmarkNotify($event)"></wu-add-bookmark>


</div>
