// styles in src/style directory are applied to the whole page
body {
    /*background: #0147A7;*/
    background-color: #eee;
    color: #333;
}
a {
    color: #03A9F4;
}

.clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}
.clearfix {
    .clearfix();
}

@import "normalize";
@import "base";

//font
@import (css) "/fonts/fontello/css/fontello.css";
